[2022-08-10 10:49] ziyue7575 opened #3143 "4.0.62使用gb28181推流,默认的vhost异常,webrtc无法播放"
**Description(描述)**

之前默认vhost是`__defaultVhost__` 但是最近重启之后,vhost的name变成了空,
控制台展示

[code]

[code]

webrtc无法播放

1. SRS Version(版本): `4.0.62`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

之前正常,但是最近srs重启之后,gb28181推流的vhost一直是空,无法播放.
output之前没有设置vhost,但是现在在app或stream后面添加vhost都不管用

**Expect(期望行为)**

 希望能正常webrtc播放,推流vhost为__defaultVhost__

[2022-08-10 14:26] ziyue7575 opened #3144 "WebRTC: Transcode port is invalid for RTC publisher. Failed to transcode RTC stream, port error."
**Description**

Using webrtc for streaming, set the http_server port to 18080, webrtc://192.168.3.33:18080/aaa?vhost=sqve1/ccc
When forwarding rtmp, use port 18080 for the rtmp address instead of the rtmp port.

1. SRS Version: `xxxxxx`

1. SRS Log:

[code]

1. SRS Config:

[code]

**Replay (重现)**

When using WebRTC for streaming, the port used for forwarding the stream is the same as the one use

[2022-08-10 15:21] winlinvip commented on #3061
Adapted to the server operating system of the Chinese Academy of Sciences, version: v5.0.39

https://github.com/ossrs/srs/commit/7f7406ec7712a8db1df82beefdfcfb174d5d146a

[code]

[2022-08-10 22:37] #2689 closed

[2022-08-11 05:45] ziyue7575 commented on #3122
[1660126459708.zip](https://github.com/ossrs/srs/files/9306337/1660126459708.zip)
This is a recorded video that was pushed for several minutes, but after the recording was completed, it cannot be played.

`TRANS_BY_GPT3`

[2022-08-11 09:15] ziyue7575 commented on #3122
dvr setting time_jitter zero; The video can be recorded normally, but previously the webRTC streaming could be played immediately, now it takes almost 20 seconds to start playing, and the video also starts recording at this time.

`TRANS_BY_GPT3`

[2022-08-11 13:55] winlinvip commented on #3061
Adapted to Kylin V10 operating system.

[code]

[2022-08-12 02:34] jinleileiking commented on #2747
https://github.com/ossrs/srs/issues/3130

[2022-08-12 03:15] jinleileiking opened #3145 "COMPILE: mac m1版本configure失败 5.0.33 (f7280399d4d77db0ae1284b7fe7bb14ca073e17b)"
**Description(描述)**

[code]

1. SRS Version(版本): `f7280399d4d77db0ae1284b7fe7bb14ca073e17b`

1. SRS Log(日志):

[code]

编译openssl时

`gcc  -I. -Iinclude -fPIC -arch i386 -O3`  为啥是 -arch i386

[2022-08-12 03:17] #3145 closed

[2022-08-12 03:19] jinleileiking commented on #3145
https://github.com/ossrs/srs/issues/2747

[2022-08-12 03:20] jinleileiking commented on #2747
[code]

[2022-08-12 08:53] winlinvip commented on #3061
Cross-compilation, running on HiSilicon ARM chip. v5.0.40

https://ossrs.net/lts/zh-cn/docs/v5/doc/arm#ubuntu-cross-build-srs-armv7hisiv500

https://github.com/ossrs/srs/commit/a842c6c32

[2022-08-14 14:49] #2747 closed

[2022-08-14 14:49] winlinvip commented on #2747
Fixed in v5.0.41

[2022-08-15 02:55] winlinvip commented on #3141
If you look at the example provided by Prometheus, [Use Labels](https://prometheus.io/docs/practices/instrumentation/#do-not-overuse-labels)

[code]

He said that for the metric `node_filesystem_avail`, with ten thousand machines, each machine having ten data points, there would be a total of one hundred thousand points, which Prometheus can handle perfectly. But if you want to collect the quota o

[2022-08-15 10:44] starise-wg opened #3146 "WebRTC: Crash when working for a few hours. Streaming and multi-person calls crash the SRS container after approximately a few hours."
**Docker deployment, after streaming and multi-party calls continue for a few hours, the SRS container crashes.**

**1. SRS Version: `v4.0`**

**1. SRS Log:**

[code]
**2. System Log:**
Make sure to maintain the markdown structure.
[code]
**3. SRS Config (Configuration):**

[code]

**Replay (Reproduction)**

1. `When the device is streaming and the multi-party call in the room continues for 5-6 ho

[2022-08-15 11:34] qiantaossx commented on #3141
This scenario:
1. Thousands of streams, collecting data every 10 seconds.
2. Collecting metrics for each playing stream, while adding several different labels for each stream.
    - Label 1: Stream ID
    - Label 2: Start time of the stream
    - Label 3: End time of the stream
    - Label 4: Other metrics of the stream...
3. Prometheus deployed on a single machine, storing data for 15 days, and d

[2022-08-16 04:20] winlinvip commented on #3141
The metrics of Prometheus are generally suitable for aggregation, such as start time and end time, which are not suitable to be stored in Prometheus. These are suitable to be stored in log systems like [ELK](https://www.elastic.co/) or [APM/Trace](https://opentelemetry.io/docs/instrumentation/go/getting-started/). After processing and filtering with these systems, they can also be displayed throug

[2022-08-17 00:09] winlinvip commented on #3146
Not enough information, see if you can provide more information, please contact me on WeChat, thank you.

`TRANS_BY_GPT3`

[2022-08-17 00:12] winlinvip commented on #3143
GB已经放到独立的仓库 [srs-gb28181](https://github.com/ossrs/srs-gb28181)， 请参考 #2845
问题请提交到GB的仓库[bug](https://github.com/ossrs/srs-gb28181/issues)，或者[pr](https://github.com/ossrs/srs-gb28181/pulls)

由于265主要在GB中使用，所以265分支也迁移到了 [srs-gb28181](https://github.com/ossrs/srs-gb28181/tree/feature/h265)

云SRS的问题，请提交到[srs-cloud](https://github.com/ossrs/srs-cloud)

该Issue会被删除，请先阅读FAQ：#2716

[2022-08-17 00:12] #3143 closed

[2022-08-17 00:13] winlinvip commented on #3142
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-08-17 00:13] #3142 closed

[2022-08-17 00:14] winlinvip commented on #3144
It seems to be a port parsing and matching error, it is a bug.

The transcode of SRS is a running FFmpeg process, you can start the FFmpeg process yourself to bypass this issue.

`TRANS_BY_GPT3`

[2022-08-17 00:15] winlinvip commented on #3138
Proxy由于聚焦于代理，逻辑简单，稳定性高，可以将一部分逻辑，比如流的定位和负载均衡，放在Proxy实现。

[2022-08-17 00:17] winlinvip commented on #3088
Essentially, it is a problem of statelessness in HLS for the Origin Cluster.

`TRANS_BY_GPT3`

[2022-08-17 01:33] starise-wg commented on #3146
1: srs log - Container crashed at 2022-08-12 17:51:19.
[code]
2: After checking the log /var/log/message, the following information is displayed: at 2022-08-12 17:51:19, s encountered an error message stating "srs[11962]: segfault at d8 ip 0000000000618d54 sp 00007f02a36b8470 error 4 in srs[400000+7c7000]".
[code]
- 3: What other information needs to be provided?

`TRANS_BY_GPT3`

[2022-08-17 06:57] Out-Of-Rain opened #3147 "Wiki打不开"
https://ossrs.net/打不开

[2022-08-18 03:14] winlinvip commented on #3147
已经恢复。

[2022-08-18 03:14] #3147 closed

[2022-08-18 11:36] starise-wg opened #3148 "流列表有多条记录但客户端列表无记录导致无法正常拉流"
** 流列表有多条记录但客户端列表无记录导致无法正常拉流**

1. SRS Version(版本): `4.0`

2. SRS Config(配置):

[code]

**Replay(重现)**

1. `某一段时间内流列表有多条记录(这些记录均为视频通话流)，但客户端列表为空->通过SRS控制台观察`
2. `此时无法正常拉在流列表中存在的流，需要重启srs后才正常`
3. `截图见：https://hengine-public.huanjianit.com/Image/project/MIM/test/20220815092949.png`

**Expect(期望行为)**

[2022-08-19 03:23] drchzy commented on #2837
Curve-saving law: Use the client_id in the callback information to query the clients interface => can obtain the stream_id.

`TRANS_BY_GPT3`

[2022-08-19 03:36] 28269890 commented on #2837
Not bad, not bad, I support it. My application scenario also needs this functionality.

Actual application situation: In the list, you can see the information of the stream currently being pushed, and you can also verify the running status of the stream.

To implement this application scenario, it is necessary to directly obtain the information of the stream. However, currently, the data submitted

[2022-08-19 11:36] winlinvip commented on #2136
@JalySN 感谢哈，已经在5.0 fix了。 👍

欢迎加入我们开发群呐，一起来贡献代码。可以微信联系下我。 😄

[2022-08-19 11:36] #2136 closed

[2022-08-19 11:36] winlinvip commented on #2136
@JalySN Thank you, it has already been fixed in 5.0. 👍

Welcome to join our development group, let's contribute code together. You can contact me on WeChat. 😄

`TRANS_BY_GPT3`

[2022-08-19 12:02] winlinvip commented on #2667
It seems some strange stream causes this issue, the gop cache can't detect the duration of audio frames.

1. You can disable the gop cache by `gop_cache off;`, note that without gop cache, viewer wait longer to see the first frame.
2. If you need gop cache, you can try to replay this issue, seems it's caused by some pure audio stream, with incorrect timestamp.

It's not a general use case for memo

[2022-08-19 12:05] winlinvip commented on #3146
Please provide the following information:

1. When a crash occurs, it will generate a coredump. Please provide the backtrace stack information (bt). It would be best if you can also provide the coredump file and the corresponding binary (if not modified, providing the version number is also acceptable).
2. Is the issue reproducible consistently? If it occurs sporadically, can you try to identify t

[2022-08-19 12:08] winlinvip commented on #3114
You have enabled the origin cluster `origin_cluster on;`, but did not follow the configuration of the origin cluster, so there are issues.

Of course, there should not be a coredump here.

`TRANS_BY_GPT3`

[2022-08-22 02:35] NeGitR commented on #659
Have the same issue, too.

[2022-08-22 02:40] NeGitR opened #3149 "Apple M1 Max, run srs locally Failed, code=1023 : check config : check connections : 1007 exceed max open files=256"
**Description(描述)**
➜  trunk git:(develop) ./objs/srs -c conf/srs.conf
[2022-08-22 10:37:01.561][Trace][25756][zn7442a6] XCORE-SRS/5.0.41(Bee)
[2022-08-22 10:37:01.566][Trace][25756][zn7442a6] config parse complete
[2022-08-22 10:37:01.567][Trace][25756][zn7442a6] you can check log by: tail -n 30 -f ./objs/srs.log
[2022-08-22 10:37:01.567][Trace][25756][zn7442a6] please check SRS by: ./etc/init.d/

[2022-08-22 03:30] winlinvip commented on #3149
The error and command already printed there:

[code]

[2022-08-22 03:30] #3149 closed

[2022-08-22 03:33] winlinvip commented on #3148
Fixed in 5.0, 重复问题会删除。

[2022-08-22 03:33] #3148 closed

[2022-08-22 03:37] winlinvip commented on #3114
Confirming that it is a configuration issue, enabling the origin server cluster `origin_cluster on;` without configuring `cluster.coworkers` will cause a crash, and it happens consistently.

[code]

Because there is no check here.

This issue is essentially a configuration problem, not a common problem, so it will only be fixed in version 5.0.

`TRANS_BY_GPT3`

[2022-08-22 03:43] #3114 closed

[2022-08-23 05:55] bbhxwl opened #3151 "可以用obs推流webrtc么？"
一直失败

[2022-08-24 11:37] winlinvip commented on #2837
There is a way to bypass it, the callback will provide the `client_id`, for example:

[code]

Then, by querying this client, you can obtain the `stream_id`:

[code]

Then, using `vid-538tx0p`, you can retrieve the information of the stream.

`TRANS_BY_GPT3`

[2022-08-24 11:38] drchzy commented on #2837
Received, thank you for your hard work~

`TRANS_BY_GPT3`

[2022-08-24 13:18] winlinvip commented on #2547
Fixed.

[2022-08-25 10:20] #2667 closed

[2022-08-26 02:25] winlinvip commented on #413
The problem of Source cleanup is essentially due to the direct reference to Source, which makes it impossible to count and accurately clean up. A better approach is to make Source an internal type and expose a wrapped type externally. Each time it is used, a new wrapped type is created, similar to a smart pointer.

[code]

Add a wrapped type:

[code]

Also avoid creating pointers, always use insta

[2022-08-26 15:24] guoxiaojun001 commented on #1960
I have also encountered the problem of being online but unable to play. However, after reinstalling, I could no longer register. I can register on other platforms, but I can no longer register on SRS. I don't know the reason for this.

`TRANS_BY_GPT3`

[2022-08-27 10:52] winlinvip commented on #2278
Fixed in SRS 5.0

[2022-08-27 10:52] #2278 closed

[2022-08-27 10:53] winlinvip commented on #3014
Fixed in 5.0

[2022-08-27 10:53] #3014 closed

[2022-08-27 12:43] #3108 closed

[2022-08-28 05:12] #2881 closed

[2022-08-28 09:29] #3018 closed

[2022-08-28 11:33] winlinvip commented on #71
Without considering implementation, it is recommended to use HTTP Callback.

`TRANS_BY_GPT3`

[2022-08-28 11:33] #71 closed

[2022-08-28 11:35] winlinvip commented on #595
4.0 should be fine. If there are any issues, please provide feedback again.

`TRANS_BY_GPT3`

[2022-08-28 11:35] #595 closed

[2022-08-28 11:37] winlinvip commented on #2731
Insufficient information, closing for now. If it happens again, please provide detailed information and contact me again.

`TRANS_BY_GPT3`

[2022-08-28 11:37] #2731 closed

[2022-08-28 11:40] winlinvip commented on #2813
5.0 fixed the issue of OBS without Stream, Bilibili without Stream should also be able to support it, refer to https://github.com/ossrs/srs/issues/3018

If there are any issues, please leave a comment.

`TRANS_BY_GPT3`

[2022-08-28 11:40] #2813 closed

[2022-08-29 02:49] SuperChrisliu commented on #2677
@winlinvip
To share the screen on Chrome, use `navigator.mediaDevices.getDisplayMedia` to push.
For an online stopwatch webpage, use the mini-program RTMP player to play. Every two seconds, the screen moves a bit. Check the network status output on the mini-program side. When the screen freezes, the network speed is 0. When there is a display of network speed, the screen does not freeze. After red

[2022-08-29 03:50] winlinvip commented on #3151
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-08-29 03:50] #3151 closed

[2022-08-29 05:26] winlinvip commented on #2289
支持WebRTC客户端带宽的统计：https://github.com/ossrs/srs/commit/4fe90d488512a3e5c07ca952b4b4b8379dafbd1e

[2022-08-29 11:34] lllpaw opened #3154 "ffmpeg pushes HEVC stream to SRS4.0 with only audio and no video"
ffmpeg rtmp push HEVC to SRS4.0, only audio, no video.

ffmpeg modified according to https://github.com/runner365/ffmpeg_rtmp_h265.

[2022-08-29 20:38:37.983][Trace][4043223][d3932e0t] complex handshake success
[2022-08-29 20:38:37.983][Trace][4043223][d3932e0t] connect app, tcUrl=rtmp://127.0.0.1:1935/live, pageUrl=, swfUrl=, schema=rtmp, vhost=127.0.0.1, port=1935, app=live, args=null
[2022-08-2

[2022-08-29 15:23] hashworks opened #3155 "Build srt-1-fit fails with `standard attributes in middle of decl-specifiers` on GCC 12"
I'm currently trying to build the latest `develop` commit 29ae29c69, but it fails with `standard attributes in middle of decl-specifiers`.

[code]

[code]

I searched around a bit, it seems this is related to GCC 12. But I'm not a C++ developer, so take this with a grain of salt.

Any idea?

[2022-08-29 17:35] hashworks commented on #3155
https://www.gnu.org/software/gcc/gcc-12/changes.html

[2022-08-30 01:07] bigbeer1 opened #3156 "使用GB28181推流 FLS OK 但是WEBRTC黑屏 配置文件为下面"
# push gb28181 stream to SRS.

listen                  1935;
max_connections         1000;
daemon              off;
srs_log_tank        console;

http_api {
    enabled         on;
    listen          1985;
}

http_server {
    enabled         on;
    listen          8080;
}

stats {
    network         0;
}

stream_caster {
    enabled             on;
    caster              gb28181;

    # 转发流到r

[2022-08-30 01:08] bigbeer1 commented on #3156
![image](https://user-images.githubusercontent.com/52517974/187325542-ebbad9fe-f947-4c80-96db-ae8fa86e8880.png)
![1661821694262](https://user-images.githubusercontent.com/52517974/187325596-6b85c745-8535-4356-a222-4ae698df5072.png)

[2022-08-30 01:30] bigbeer1 commented on #3156
忘记开8000UDP映射了

[2022-08-30 14:04] #2837 closed

[2022-08-30 16:46] lllpaw opened #3157 "rtmp 推H265流 只有声音"
**Description(描述)**

通过硬编 和 修改过的FFMPEG  rtmp 推 H265流，SRS 能够接收流，但只有声音无视频。

FFMPEG 按照 https://github.com/runner365/ffmpeg_rtmp_h265 修改.

1. SRS 4.0

1. SRS Log(日志):

[2022-08-29 20:38:37.983][Trace][4043223][d3932e0t] complex handshake success
[2022-08-29 20:38:37.983][Trace][4043223][d3932e0t] connect app, tcUrl=rtmp://127.0.0.1:1935/live, pageUrl=, swfUrl=, schema=rtmp, vhost=127.0.0.1, port=1935,

[2022-08-30 16:46] #3154 closed, assigned to winlinvip

[2022-08-31 09:00] LastingZ opened #3158 "Edge: Still retry when no player on edge. After the client's FLV streaming is disconnected, the edge node continues to cyclically pull the stream from the master node."
**Description**

Hello, we have deployed two master servers and two edge servers. We have configured rtmp and flv streaming on the edge servers. When a client disconnects after pulling a stream via rtmp, we can see that the edge server still has information about this stream in its streams. Then, when the stream is disconnected from the source, we can see that the edge server keeps requesting this

[2022-09-01 03:08] 2298yang opened #3161 "dvr录播了四个摄像头的rtmp流，录制时长为一个小时，但是经常会有mp4.tmp文件不能正常转换为MP4格式，并且会一直保留着，需要怎么处理呢"
**Description(描述)**
![image](https://user-images.githubusercontent.com/92721886/187823671-8baac83a-d80e-4bb3-a41d-20229e15cf33.png)

1. SRS Version(版本): `xxxxxx`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-09-01 08:51] winlinvip commented on #3138
SRS WebRTC若需要部署在K8s中，也可以通过Proxy来定位服务。

[2022-09-01 11:27] winlinvip commented on #1405
SRS 5.0, add a new configuration to specify guessing IMBF first:

[code]

Today, a friend encountered a screen flickering issue, and it was found that there was an extra byte in the TS, causing an abnormal GOP.

![image](https://user-images.githubusercontent.com/2777660/187904155-89ad4b46-1c7d-477a-8e6e-3e527bc67866.png)

`TRANS_BY_GPT3`

[2022-09-01 11:29] #1405 closed

[2022-09-01 11:56] winlinvip opened #3163 "K8s: Edge: Resolve domain as CANDIDATE."
In English:

In CDN or Edge scenarios, the IP of the Edge needs to be returned, for example:

[code]

At this time, the address to be returned is not the K8s address, but the address closer to the user's edge.

However, this edge address is generally a domain name, and Firefox does not support domain name CANDIDATEs, so it must be resolved. The process should be like this:

1. The browser accesses

[2022-09-01 12:05] winlinvip commented on #2277
What was said earlier is incorrect. The best way to configure Grafana is through environment variables. The new configuration for SRS will also support overriding through environment variables, which is ideal for cloud-native environments.

For example, to start Grafana:

[code]

Using the local MySQL, install a plugin and specify all settings through environment variables. This makes it very conv

[2022-09-01 12:23] winlinvip commented on #3161
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-01 12:23] #3161 closed

[2022-09-01 12:26] winlinvip commented on #3157
GB已经放到独立的仓库 [srs-gb28181](https://github.com/ossrs/srs-gb28181)， 请参考 #2845
问题请提交到GB的仓库[bug](https://github.com/ossrs/srs-gb28181/issues)，或者[pr](https://github.com/ossrs/srs-gb28181/pulls)

由于265主要在GB中使用，所以265分支也迁移到了 [srs-gb28181](https://github.com/ossrs/srs-gb28181/tree/feature/h265)

云SRS的问题，请提交到[srs-cloud](https://github.com/ossrs/srs-cloud)

该Issue会被删除，请先阅读FAQ：#2716

[2022-09-01 12:26] #3157 closed

[2022-09-01 12:28] winlinvip commented on #3155
Please file issue to SRT, not issue of SRS.

[2022-09-01 12:29] winlinvip commented on #3158
Is pulling the stream pulling FLV? Isn't what you configured .aac? Please confirm the reproduction path.

`TRANS_BY_GPT3`

[2022-09-02 04:14] winlinvip commented on #2897
Fixed in SRS 4.0

[2022-09-02 04:14] #2897 closed

[2022-09-02 04:17] winlinvip opened #3164 "SRT: Stutter/Choppy/Glitch covert to RTMP. After converting to RTMP, there is jitter."
SRS 5.0, after coverting SRT to RTMP, the streaming is stuttering/choppy/glitch.

Replay:

1. Start SRS 5.0 by docker. v5.0.59
2. Publish to SRS by FFmpeg, source is `doc/source.flv`.
3. Play by RTMP or FLV, the stream is stuttering/choppy/glitch.

`TRANS_BY_GPT3`

[2022-09-02 09:50] WOSHINPC opened #3165 "Implement streaming on the Android side. After starting the SRS service, the first time it plays the stream first, then pushes the stream, it still shows a black screen. After that, everything is normal."
**Description**

1. SRS Version: `SRS/5.0.19`

1. SRS Log:

[code]

1. SRS Config:

[code]

**Replay (重现)**

**1. `Play video using web`
2. `Stream using Android device`
3. `Web still shows black screen (should display video normally)`
4. `Click play on web again, video plays normally`**

**Expect (Expected Behavior)**

`TRANS_BY_GPT3`

[2022-09-02 13:12] xiaozhihong commented on #3164
Occasionally, certain videos will appear, such as the built-in [Avatar flv](https://github.com/ossrs/srs/blob/develop/trunk/doc/source.200kbps.768x320.flv) in SRS.

From the observation, it appears that the timestamp of the pulled stream elapses faster than the timestamp of the pushed stream. In other words, if the stream is pushed for 10 seconds, the playback has already advanced to around 18 sec

[2022-09-02 13:16] xiaozhihong commented on #3164
There are several solutions:
1. Open ATC, which is the absolute timestamp, so that jitter will not be enabled. However, this may cause other issues.
2. Add a fixed offset to the timestamp of SRT, which may result in audio and video being out of sync.
3. Use mix_correct.
4. Avoid caching audio when streaming.

The final choice is 4. Add the parameter `-pes_payload_size 0` to FFmpeg. The command is

[2022-09-02 14:15] winlinvip commented on #2674
Dup to #2852

[2022-09-02 14:15] #2674 closed

[2022-09-02 23:19] winlinvip commented on #2852
补充下UDP的SDP：
[udp-answer.txt](https://github.com/ossrs/srs/files/9481460/udp-answer.txt)
[udp-offer.txt](https://github.com/ossrs/srs/files/9481461/udp-offer.txt)

answer的差别：

[code]

[2022-09-03 05:14] winlinvip opened #3167 "WebRTC: Play stucked when republish. There is a chance of playback freezing when republishing."
SRS 4.0.259
SRS 5.0.59

Replay steps:

1. Publish by WebRTC.
2. Play by WebRTC.
3. Republish by WebRTC.
4. Play randomly stucked.

Error log:

[code]

It stucked for a while, and resume successfully sometimes.

`TRANS_BY_GPT3`

[2022-09-03 08:33] winlinvip commented on #3167
Fixed

[2022-09-03 08:33] #3167 closed, assigned to winlinvip

[2022-09-04 15:12] #2852 closed

[2022-09-05 08:25] walletiger opened #3168 "EDGE服务器，配置了 rtmp_to_rtc , WEBRTC 收看黑屏 ， hls m3u8 没问题"
srs 版本: 4.0.251
edge配置: 跟  rtc相关
rtc_server {
    enabled on;
    listen 1938;
    candidate *;
    merge_nalus off;
}

vhost __defaultVhost__ {
    enabled         on;
    gop_cache       off;
    queue_length    10;
    cluster {
        mode        remote;
        origin 172.16.7.12:1935;
    }
    hls {
        enabled         on;
        hls_fragment    2;
        hls_window      5;
        #

[2022-09-05 08:31] walletiger commented on #3168
抓包文件
[rtc_udp_port_1938.zip](https://github.com/ossrs/srs/files/9488105/rtc_udp_port_1938.zip)

[2022-09-06 00:13] smallfish-root opened #3169 "srs录制回调请求，不支持相应失败后重新发送回调请求吗？"
**Description(描述)**

1. SRS Version(版本): `xxxxxx`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-09-06 00:57] winlinvip commented on #1193
Using cloud SRS support, refer to [srs-cloud](https://github.com/ossrs/srs-cloud).

`TRANS_BY_GPT3`

[2022-09-06 10:19] winlinvip opened #3170 "WebRTC: Support WHIP(WebRTC-HTTP ingestion protocol)"
RFC: https://datatracker.ietf.org/doc/draft-ietf-wish-whip/

<a name='usage'></a>
## [Usage](#usage)

Start SRS `SRS 6.0.36+` or `SRS 5.0.148+`, there is a WHIP and WHEP client in srs-player:

[code]

Then open [WHIP](http://localhost:8080/players/whip.html) and click `Publish` button.

Finally, open [WHEP](http://localhost:8080/players/whep.html) and click `Play` button.

<a name='obs-whip'></a>

[2022-09-06 10:33] #3170 closed, assigned to winlinvip

[2022-09-06 14:15] zzj917 opened #3171 "Docker: ./objs/ffmpeg/bin/ffmpeg: error while loading shared libraries: libxml2.so.2: cannot open shared object file: No such file or directory"
**Description**

**Description**
Deploy with Docker, use Ingest to pull RTSP, error occurs: ./objs/ffmpeg/bin/ffmpeg: error while loading shared libraries: libxml2.so.2: cannot open shared object file: No such file or directory.
1. SRS Version: srs4

**1. SRS Log:**
Please provide the SRS log for further analysis.

[code]

**1. SRS Config:**
Please ensure that the markdown structure is maintained.

[2022-09-06 21:47] GeekenDev opened #3172 "SRT ingest fails when using OBS Studio with encoder (NVDIA NVENC H.264)"
**Description**

1. SRS Version: `4.0.261(Leo)`

1. SRS Log:

[code]

1. SRS Config:

[code]

`TRANS_BY_GPT3`

[2022-09-07 10:10] pkviet commented on #3172
obs-studio dev here; i wrote the srt support. i can confirm the issue which occurs with your transmuxer to rtmp. We don't observe such an issue with competing servers like Wowza or Nimble Server.

[2022-09-09 07:43] zhangyong7887 opened #3173 "WebRTC: Failed to publish or play the stream immediately. wetrtc streaming and playback both crash."
**Description**
When opening the streaming page on the web, the camera immediately exits after seeing the image. Debugging with web development tools reveals the following errors:
Request URL: https://x.x.x.x:8029/rtc/v1/publish/
Request Method: POST
Status Code: 404 Not Found
The same crash occurs during playback:
Request URL: https://x.x.x.x:8029/rtc/v1/play/
Request Method: POST
Status Code: 40

[2022-09-09 08:17] #3093 closed

[2022-09-09 08:32] winlinvip opened #3174 "WebRTC: Support Unity to publish or play stream."
Please see [srs-unity](https://github.com/ossrs/srs-unity) for detail.

[2022-09-09 13:13] ladycwd opened #3175 "希望增加类似zlmedia的自动添加静音音频功能"
希望增加类似zlmedia的自动添加静音音频功能
用了很长一段时间的srs4.0发现首屏打开慢，如果快速切换视频大概两到三次会出现播放器报错，然后视频需要很久才加载出来，后来换成zlmedia后首屏秒开，而且无论怎样快速切换视频多少次也不会出现srs的情况，后来发现如果推流视频源里面如果有音频SRS也能做到首屏秒开，但有些场景的视频源里面不合适有音频的存在，这个时候就需要服务端能自动为每一路无音频的视频源添加上一条静音的音频

[2022-09-09 16:49] pkviet commented on #3172
Pinpointed the issue: in obs-studio, the nvenc encoder is set to have AUD (access unit delimiter), see : [here](https://github.com/pkviet/obs-studio/blob/master/plugins/obs-ffmpeg/jim-nvenc.c#L444)
It seems the srt_to_rtmp.cpp transmuxer doesn't know how to deal with them.
It is true that per spec it is not mandatory to have NALU AUDs in h264. But in mpegts container it is mandatory.  So your tran

[2022-09-10 13:52] winlinvip commented on #3174
Fixed.

[2022-09-10 13:52] #3174 closed, assigned to winlinvip

[2022-09-12 02:41] benjamin658 commented on #3171
Same issue here, fallback to v4.0.198 and it works again.

[2022-09-13 12:14] zxk69809 commented on #2091
There hasn't been much progress on RTC clustering lately. It would be great if you could first outline the ideas and architecture, and everyone can participate.

[2022-09-14 08:24] SPDionysius commented on #3165
I have not used SRS to start Windows, maybe you can try setting CANDIDATE in the terminal before starting SRS.

`TRANS_BY_GPT3`

[2022-09-14 14:17] winlinvip opened #3176 "GB28181: SRS 5.0 has already supported GB-2016, with built-in SIP signaling and TCP single-port transmission media."
Supporting GB28181 is the right thing to do, and it may also be a challenging thing to do, because challenges make things interesting.

See [English](https://ossrs.io/lts/en-us/docs/v6/doc/gb28181) or [Chinese](https://ossrs.net/lts/zh-cn/docs/v6/doc/gb28181)

## Latency

<img width="400" alt="image" src="https://user-images.githubusercontent.com/2777660/205198483-09e927a4-3e78-46c3-9c0b-1c187b798

[2022-09-14 15:46] hashworks commented on #3155
@winlinvip it seems that the bug disappears with `srt-1-fit` `v1.4.3` onwards (currently `v1.4.1` is in the repo), I failed to test newer versions in my previous tests. Does anything speak against an update to `v1.4.3` or even the latest stable `v1.5.0`?

[2022-09-15 03:53] hongju91 opened #3178 "srs-sctp版本创建数据通道失败"
**Description(描述)**

使用srs-sctp的版本创建数据通道， 本地启动srs服务./objs/srs.exe -c conf/rtmp2rtc.conf
，浏览器上http://localhost:8080/players/rtc_datachannel.html 创建。srs报如下错误[2022-09-15 10:25:49.621][Warn][29538][znb1h1a8][0] RTC error code=5018 : create session : create session : add player : no play relations。 发现是在srs_app_rtc_conn.cpp中的negotiate_play_capability函数中 支持remote_media_desc 为audio或video，不支持application，请问

[2022-09-15 13:45] xiaozhihong commented on #3172
Yes, you are right, we must not ignore AUD in the h264 stream. We will fix it later.
Had you test remove the code [https://github.com/ossrs/srs/blob/4.0release/trunk/src/srt/srt_to_rtmp.cpp#L525-L529](https://github.com/ossrs/srs/blob/4.0release/trunk/src/srt/srt_to_rtmp.cpp#L525-L529), and can ingest SRT success?

[2022-09-15 14:54] winlinvip opened #3179 "WebRTC: The order of m-lines in answer doesn’t match order in offer."
Failed to set remote answer sdp: The order of m-lines in answer doesn’t match order in offer. Rejecting answer.

<img width="969" alt="image" src="https://user-images.githubusercontent.com/2777660/190436611-21b8de80-5c0e-469a-82cc-4c7fa7e2c046.png">

See `setRemoteDescription` of this [post](https://blog.csdn.net/csdn_shen0221/article/details/120331004).

`TRANS_BY_GPT3`

[2022-09-15 23:13] winlinvip commented on #3179
There is a workaround, to change the order of track, for example:

[code]

If order is not match, switch the above two lines.

[2022-09-16 00:07] #3179 closed, assigned to winlinvip

[2022-09-16 00:26] winlinvip commented on #3179
I thought of GB when it comes to this mline issue, and it really struck a chord with me.

The biggest problem with GB is actually the national standards, or rather, our lack of ability in setting standards. It's not that the standards are poorly written, but rather that the developer ecosystem is not keeping up, and the lack of open-source development is also a factor.

Foreign standards have nume

[2022-09-16 02:47] winlinvip commented on #3171
Fixed by v4.0.265 and v5.0.63

It's caused by base image, after switching from CentOS7 to Ubuntu20.

[2022-09-16 02:47] #3171 closed, assigned to winlinvip

[2022-09-16 02:48] winlinvip commented on #3169
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-16 02:48] #3169 closed

[2022-09-16 02:49] winlinvip commented on #3163
Support for retaining domain names has been added, so non-Firefox scenarios can be resolved by the client.

[2022-09-16 02:50] winlinvip commented on #3138
相对比较独立，会新增一个项目支持。

[2022-09-16 02:50] winlinvip commented on #3165
Fixed by v5.0.63+

[2022-09-16 02:50] #3165 closed, assigned to winlinvip

[2022-09-16 02:52] winlinvip commented on #3168
这个问题在[Wiki](https://ossrs.net/lts/zh-cn/docs/v4/doc/introduction)中有，请看文档。该Issue会被删除，请先阅读FAQ：#2716

[2022-09-16 02:52] #3168 closed

[2022-09-16 02:53] winlinvip commented on #3173
No reproduction path? Also, please try the latest 5.0.

`TRANS_BY_GPT3`

[2022-09-16 02:55] winlinvip commented on #3175
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-16 02:55] #3175 closed

[2022-09-16 02:56] winlinvip commented on #3178
请提交到对应分支的issues。

该Issue会被删除，请先阅读FAQ：#2716

[2022-09-16 02:56] #3178 closed

[2022-09-16 08:07] sheng930920 opened #3180 "srs webrtc push stream, create session: stream /live/07JDE3N00A009G busy"
**Description**

1. SRS Version: 4.0.253

1. SRS Log:

[code]

1. SRS Config:

[code]

`TRANS_BY_GPT3`

[2022-09-17 05:20] winlinvip commented on #861
Dup to #250

[2022-09-19 03:09] LastingZ commented on #3158
Hello, even if configured as aac and pulling rtmp, this situation can still occur~ However, as long as http_remux is turned off, this situation will not happen. We have also noticed that when there is no client pulling the stream from the edge, the stream can still be seen in the edge's streams.

`TRANS_BY_GPT3`

[2022-09-20 06:17] agsea commented on #3117
可以 nginx 代理出多个地址

[2022-09-20 14:21] agsea opened #3182 "视频流能播放但是控制台视频流列表里状态显示无流且名字变成了数字"
SRS Version(版本): 5.0.28
![图片](https://user-images.githubusercontent.com/20497891/191283425-12d8f099-6a45-4ce9-a2a6-de6f68354764.png)

**Replay(重现)**
多个视频流长时间推流（一天以上）

**Expect(期望行为)**
能播放的视频流状态正常显示，且流名称也正常显示

[2022-09-20 16:42] lllpaw opened #3183 "SRS startup --hds=on compilation failed."
SRS start --hds=on compilation failed.

1. SRS Version: dev (5.x)

1. SRS Compilation Parameters:
./configure --prefix=/usr/local/srs \
--hds=on \
--shared-srt=on \
--shared-ffmpeg=on \

<img width="780" alt="Screen Shot 2022-09-20 at 23 35 21" src="https://user-images.githubusercontent.com/11974874/191316106-6f40957b-771a-41f3-a1fb-448210192444.png">

`TRANS_BY_GPT3`

[2022-09-21 12:08] #3183 closed, assigned to winlinvip

[2022-09-22 06:40] Aniu-hub opened #3185 "ffmpeg streaming error: Packet is missing PTS"
The account and password for the camera are correct, and the RTSP stream can be played in VLC. However, when using ffmpeg to pull the stream, an error occurs: "Packet is missing PTS.
![image](https://user-images.githubusercontent.com/69847948/191675616-c286ddc0-7544-4ee2-ab60-50a5f5d79180.png)

The configuration being used is:
![image](https://user-images.githubusercontent.com/69847948/191675903-b

[2022-09-22 12:37] #3164 closed, assigned to xiaozhihong

[2022-09-24 01:50] YQW1504040201 opened #3188 "RTC: Drop for ssrc 2478641698 not found"
**Description(描述)**

1. SRS Version(版本): `xxxxxx`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-09-24 01:51] #3188 closed

[2022-09-24 03:50] winlinvip commented on #3137
Dup #2277

[2022-09-24 04:10] #3137 closed

[2022-09-24 08:38] paranoia-12 commented on #1523
ffmpeg streaming error: Invalid data found when processing input. How to solve it

`TRANS_BY_GPT3`

[2022-09-26 02:16] shuizhiyu007 opened #3190 "腾讯云 SRS轻量云"
是否可以管理页面设计一个填写框，方便解决 网站title 标题与备案网站名称不一致的问题

[2022-09-26 13:10] dearplain opened #3191 "Configure the slice to be 2 seconds, the streaming GOP also 2 seconds, but the HLS slice is 3.960 seconds."
**Description**

**SRS Version: 4.0.258**

**Push streaming command:**
[code]

**SRS configuration**
[code]

**m3u8 output:**
[code]

**Expect (Expected Behavior)**

**Should be sliced for 2 seconds**
[code]

`TRANS_BY_GPT3`

[2022-09-26 14:05] #3172 closed, assigned to xiaozhihong

[2022-09-27 01:10] Timnf commented on #3180
This problem has also occurred on my side. When reconnecting after network disconnection, I encountered the "rtc stream busy" error when using the same StreamUrl.

`TRANS_BY_GPT3`

[2022-09-27 01:11] Timnf commented on #3180
Do you have a solution to this problem on your end?

`TRANS_BY_GPT3`

[2022-09-27 02:59] dearplain commented on #3191
gop is 2s, that's correct, but srs missed one frame time, so if you want to cut it into 2s, you can only change hls_fragment to a value smaller than 2s.
After the modification, the output should be as follows, with the duration on EXTINF being 2?

[code]

`TRANS_BY_GPT3`

[2022-09-27 08:44] haiyiya opened #3192 "这个问题， 我这边也出现过。 断网重连我这边使用同一个 StreamUrl时， 会报 rtc流busy。"
这个问题，  我这边也出现过。  断网重连我这边使用同一个 StreamUrl时， 会报 rtc流busy。

_Originally posted by @Timnf in https://github.com/ossrs/srs/issues/3180#issuecomment-1258841527_
      我也是断网遇到这个问题

[2022-09-27 10:52] 963431755 opened #3193 "我想推webrtc流，不知道怎么弄，能否出个android和flutter的推流sdk和教程。"
**Description(描述)**

1. SRS Version(版本): `xxxxxx`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-09-28 01:04] sheng930920 commented on #3180
Before starting the WebRTC streaming, use the HTTP API interface to retrieve all clients. Find the clients with the same streaming URL and where the publish value is true. Then, use the HTTP API to kick out the previous streaming client with the same Stream URL.
[https://ossrs.net/lts/zh-cn/docs/v4/doc/http-api](url)

`TRANS_BY_GPT3`

[2022-09-28 03:10] pedoc commented on #3176
The SIP protocol has support for [The eXtended osip library](https://savannah.nongnu.org/projects/exosip).

`TRANS_BY_GPT3`

[2022-09-29 02:22] mstaryi opened #3194 "请问一下srs 5.0支持265推流吗"
如题，问一下srs 5.0支持265推流吗

[2022-09-29 17:45] BrickCarvingArtist opened #3196 "API: Failed to parse the hostname which is single word."
**Description (描述)**'

请确保保持Markdown结构。

1. SRS Version (version): `4.0.265`

2. SRS Log (log):

[code]

3. SRS Config (configuration):

[code]

**Replay (reproduce)**

1. `Setting the hostname with an underscore will cause an error, removing it will not. I guess it's because the underscore is not included in the hostname parsing.`

**Expect (expected behavior)**

The hostname can be parsed when s

[2022-09-30 08:38] winlinvip opened #3198 "**SRT: Support PUSH SRT by IP and optional port.** Support streaming by IP and optional port."
Some device only support IP and an optional port, for example:

[code]

Where SRS's server IP is `192.168.1.100` which can be a public internet IP.

`TRANS_BY_GPT3`

[2022-09-30 08:42] winlinvip commented on #3196
This is because the http parser considers this hostname to be in an illegal format.

Why do you need to support such a hostname? If it's a K8s service, it can also support the standard domain name method.

[2022-09-30 08:43] winlinvip commented on #3194
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-30 08:43] #3194 closed

[2022-09-30 08:44] winlinvip commented on #3193
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-30 08:44] #3193 closed

[2022-09-30 08:44] winlinvip commented on #3192
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-30 08:44] #3192 closed

[2022-09-30 08:45] winlinvip commented on #3191
This time cannot be precisely equal to your slice time. The distance between frames is not in whole numbers, and there is no requirement for it to be so. The client also does not demand this.

`TRANS_BY_GPT3`

[2022-09-30 08:45] #3191 closed, assigned to winlinvip

[2022-09-30 08:46] winlinvip commented on #3190
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-09-30 08:46] #3190 closed

[2022-09-30 08:47] winlinvip commented on #3185
This is not an SRS issue, but rather an issue with FFmpeg, WebRTC, client, OBS, reverse proxy Nginx, stream content, and compilation tools. #2716

`TRANS_BY_GPT3`

[2022-09-30 08:47] #3185 closed, assigned to winlinvip

[2022-09-30 08:47] winlinvip commented on #3182
版本太老。

该Issue会被删除，请在Issues中搜索。#2716

[2022-09-30 08:47] #3182 closed

[2022-09-30 08:49] winlinvip commented on #3180
Of course, the stream cannot be pushed again, otherwise the contents of the two streams will be mixed together and cannot be used. It's like two people cannot write into the same file at the same time, as it would overwrite each other's content. Can you understand this logic?

`TRANS_BY_GPT3`

[2022-09-30 08:49] #3180 closed, assigned to winlinvip

[2022-09-30 08:53] zgjsxx opened #3199 "When enable gcp , got nothing from the gcp file"
**basic information**
srs version: srs-5.0.63
machine: centos7.9

**How to replay the issue?**
[code]
after kill the srs,
got such console log
[code]

then analyse the gperf.srs.gcp file
[code]
There is nonthing about the cpu analysis.

**Expect behaviour**
get some function call information

[2022-09-30 09:22] Timnf commented on #3180
@winlinvip I want to understand the solution for reconnecting to the network. Currently, we are creating a new stream after the network is disconnected. Previously, we were trying to continue the transmission on the existing stream. I'm not sure if it's a limitation of the rwebtp protocol. The ice reconnection always fails, preventing us from continuing the stream transmission from before the netw

[2022-09-30 16:55] BrickCarvingArtist commented on #3196
I just checked the original standard, and indeed it only supports non-hyphen-starting \w, so it's not considered a bug. It's just that using the service directly as a hostname is more convenient, that's all 😄

[2022-09-30 23:41] winlinvip commented on #2899
See 95255110320e2411955a2567e64bfc78d3f82a36

[2022-10-02 01:24] #3199 closed

[2022-10-02 01:24] zgjsxx commented on #3199
issue resolved

[2022-10-03 05:00] #2277 closed

[2022-10-06 09:40] #3176 closed, assigned to winlinvip

[2022-10-06 10:32] winlinvip commented on #3176
我测试了下最多跑了13小时，由于我家里设备不方便长期测试，欢迎大家跑一跑，看最长能跑多久。

<img width="784" alt="image" src="https://user-images.githubusercontent.com/2777660/194291468-6241ec58-d454-4f28-a60f-2d0cc62518ad.png">

<img width="698" alt="image" src="https://user-images.githubusercontent.com/2777660/194291491-a88fea1c-239c-4bde-9fe2-f265611cb821.png">

<img width="820" alt="image" src="https://user-images.githubusercontent.com/2

[2022-10-08 12:08] xiaozhihong commented on #3198
By `quink`:

[code]

---

The above is not feasible for SRS because SRS is a server and needs to know whether the client needs to pull or push the stream. The so-called Caller and Listener mode is just a logical distinction and cannot be used to obtain the peer's mode after the communication is established, similar to using interfaces like srt_getsockopt(SRTO_MODE) (there is no such SRT socket opt

[2022-10-09 00:28] #3198 closed, assigned to xiaozhihong

[2022-10-09 02:33] kyhx1984 opened #3203 "2716"
**Description(描述)**

1. SRS Version(版本): `xxxxxx`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-10-09 02:45] kyhx1984 opened #3204 "HLS，播放无法踢流"
**Description(描述)**
web界面或者通过api 踢HLS播放流失败

默认srs.conf配置，推一路流后，使用vlc播放hls，播放过程中通过web控制页面踢流失败，返回code:400

1. SRS Version(版本): `xxxxxx`

SRS/5.0.33
SRS/4.0.252

1. SRS Log(日志):

[2022-10-09 02:28:17.346][Trace][1][z00qa690] Hybrid cpu=2.00%,9MB, cid=12,6, timer=59,0,0, clock=0,32,13,0,0,0,1,0,1, free=1, objs=(pkt:0,raw:0,fua:0,msg:215,oth:0,buf:0)
[2022-10-09 02:28:17.674][Trace][1][cqz17246] HTTP #

[2022-10-09 04:53] zh19900725 opened #3205 "HLS: How to achieve on-demand streaming and disconnect the stream when no one is watching."
**How to achieve on-demand streaming with HLS**

**> After recording ts with SRS, HLS playback actually goes through nginx for downloading. I would like to know how to automatically disconnect the streaming when there are no viewers, that is, how to determine that HLS has no clients and then disconnect the camera's streaming. For RTMP, the number of clients can be determined by querying the /api/v

[2022-10-09 08:17] kyhx1984 commented on #3205
curl -v  http://127.0.0.1:1985/api/v1/streams/  There is a number of clients
curl -v -X DELETE "http://127.0.0.1:1985/api/v1/clients/streamID

`TRANS_BY_GPT3`

[2022-10-09 09:45] zh19900725 commented on #3205
I am currently using this interface, and there are no issues with rtmp and flv, but there is a problem with hls. It seems that this interface does not include hls in the client count statistics.

`TRANS_BY_GPT3`

[2022-10-09 10:49] zh19900725 commented on #2972
Has the original poster resolved it? I have also encountered the same issue. HLS is essentially file downloading. It seems that the /api/v1/clients and /api/v1/streams interfaces do not include HLS statistics. I want to know how to selectively kick out video streams in HLS.

`TRANS_BY_GPT3`

[2022-10-10 00:04] winlinvip commented on #2901
Sorry for keeping everyone waiting for so long, I have resolved it in 4.0.267.

The solution of waiting for notification is good (although there is an even simpler solution). 👍

Hahaha, everyone actually gave quite a few solutions, but the best one is still SRS, so we don't need to use menstrual patches anymore. 😄

I checked and the retry time is around 3 seconds. The reason is that when the last

[2022-10-10 00:24] #2901 closed

[2022-10-10 00:30] winlinvip commented on #3205
@kyhx1984 This plan is very good, thank you. 👍

@zh19900725 HLS is supported to be counted to clients in version 4.0, but if your HLS is not distributed through SRS, it will not be counted. There is a configuration called `hls_ctx` that you should pay attention to.

[code]

`TRANS_BY_GPT3`

[2022-10-10 00:30] #3205 closed, assigned to winlinvip

[2022-10-10 00:40] winlinvip commented on #3204
重复Issue。

[2022-10-10 00:40] #3204 closed

[2022-10-10 08:05] jayy1943 opened #3206 "WebRTC: Server Concurrent Performance Configuration Adjustment"
**Description (描述)**

Make sure to maintain the markdown structure.

1. SRS Version (版本): `4.0.257`
Make sure to maintain the markdown structure.

1. SRS Log (日志):
Make sure to maintain the markdown structure.

[code]

1. SRS Config (Configuration):
Make sure to maintain the markdown structure.

[code]

**Replay (重现)**
Make sure to maintain the markdown structure.

Make sure to maintain the markdo

[2022-10-10 10:51] winlinvip commented on #3206
The performance loss of WebRTC will be greater than live streaming. For details, you can refer to the previous article on SRS performance optimization.

If WebRTC is enabled for RTMP conversion, there will be transcoding for AAC and Opus. You can disable `rtmp_to_rtc` and `rtc_to_rtmp`.

SRS does not use particularly complex WebRTC algorithms, so other configurations have little impact. Even so, t

[2022-10-10 10:51] #3206 closed, assigned to winlinvip

[2022-10-11 07:28] SuperChrisliu commented on #1134
`TRANS_BY_GPT3`

[2022-10-11 07:44] xiangzi1 opened #3207 "WebRTC: Janus forward to SRS failed. Error occurred when using Janus rtc to convert to rtmp."
**Description (描述)**

Make sure to maintain the markdown structure.

1. SRS Version (版本): `v5.0.33`
Make sure to maintain the markdown structure.

1. SRS Log (日志):
Make sure to maintain the markdown structure.

[code]

1. SRS Config (配置):
Make sure to maintain the markdown structure.

[code]

**Replay (重现)**
Make sure to maintain the markdown structure.

Make sure to maintain the markdown structur

[2022-10-11 09:18] drchzy commented on #2837
Received, thank you for your hard work~

`TRANS_BY_GPT3`

[2022-10-11 12:49] strangemk2 commented on #2513
Can you only push audio to HLS? It seems like there is no logic for segmenting and generating AAC in the code.

`TRANS_BY_GPT3`

[2022-10-12 03:15] SuperChrisliu commented on #1134
`ffmpeg` supports the `-rw_timeout` parameter, which sets the timeout for IO operations in microseconds. It is important to note that when pulling multiple streams with `ffmpeg`, multiple `rw_timeout` parameters are required.

`TRANS_BY_GPT3`

[2022-10-12 08:23] ferrymans opened #3208 "冒昧打扰一下,rtmp握手规则中，s1不是应该不含time2而为一个字节的zero吗?为什么在SrsHandshakeBytes::create_s0s1s2（）中要将c1的time2赋予s1呢？"
**Description(描述)**

1. SRS Version(版本): `xxxxxx`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-10-13 01:10] nihaoma001 opened #3209 "srs 4.0 webrtc api breadcrumb mode causes security issues in production environment"
In version srs4.0-b10, the API interface in the production environment is vulnerable to information leakage due to the breadcrumb return method, posing a high-risk vulnerability.

**Description**

The API interface is undergoing security scanning in the production environment. The breadcrumb return method is causing information leakage and there is a high-risk vulnerability.
1. SRS Version: `xxxxx

[2022-10-13 07:31] xiangshenb commented on #3144
4.0 does have this problem. The rtmp streaming is normal, but when webrtc streaming, the transcode port for pushing rtmp is 1990, which is incorrect.

`TRANS_BY_GPT3`

[2022-10-13 07:32] xiangshenb commented on #3144
解决办法是 transcode 里的端口配置 :[port] 去掉，使用默认端口 这样就可以了

[2022-10-13 09:49] qiantaossx opened #3210 "rtmp 推流，webrtc 拉流 ，有内存泄露"
**Description(描述)**

同时存在很多路，推流和拉流。
视频流维持的时间比较短，推流端存在频繁断开连接，拉流端也存在频繁断开重连。
生产环境，SRS 每 20多天就需要重启一次（生产环境的使用方式主要为 rtmp推流，转 webrtc 拉流）。
以下 信息是在 测试环境压测，获取到的调用堆栈。偶现，并非每个 视频流都会有以下泄露信息。

另外还有一个问题是：
SRS 5.0 是否在内存上更稳定，目前如果需要在生产环境中使用，5.0 是否具备条件

1. SRS Version(版本): `v4.0.198`

1. SRS Log(日志):

以下为 使用 valgrid 抓到的内存泄露的位置
[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `向 SRS 推 RTMP流`
3. `从 SRS 拉 webrtc 流

[2022-10-14 01:38] xiangshenb commented on #3041
Indeed, it seems that we cannot use WebRTC for streaming. After streaming, if we use RTMP to stream to the same "/app/stream", then the WebRTC playback will only have audio.

`TRANS_BY_GPT3`

[2022-10-14 04:09] chenzhu005774 commented on #3173
I also encountered it, it happened when requesting SDP.

`TRANS_BY_GPT3`

[2022-10-14 05:06] chenzhu005774 commented on #3173
It is because the VPN on the mobile network was turned on.

`TRANS_BY_GPT3`

[2022-10-14 06:48] SuperChrisliu opened #3211 "[Technical Consultation] Can rtmp2rtc calculate the real-time delay of rtmp push and webrtc pull?"
**Description**

Can I ask, my requirement is for a web page (WebRTC) and a mini program (RTMP) to have a 1v1 intercom. SRS implements the conversion between RTMP and RTC. On the web side, one Connection is responsible for sending, and another Connection is responsible for receiving. In this case, if I want to calculate the delay of the receiving Connection, which is the delay from the RTMP side t

[2022-10-15 09:00] qiantaossx commented on #3138
frp 上的基础上改改 ？

[2022-10-17 05:49] fengyang1 commented on #3161
停止录制的时候，别直接杀死srs服务器，先把需要保存的视频流踢出去，
例如
 curl -v -X GET http://192.168.126.128:1985/api/v1/streams/          （192.168.126.128:1985）
curl -v -X GET http://192.168.126.128:1985/api/v1/streams/vid-673oxk6  （"id":"vid-673oxk6"）
curl -v -X DELETE http://192.168.126.128:1985/api/v1/clients/v5763spt&& echo ""   （"cid":"v5763spt"）

踢出去再关闭SRS ,这样.tmp文件会转变为.mp4

[2022-10-18 01:25] HammerZhao commented on #2051
NACK should have no problem combating 20% packet loss, right?

[2022-10-19 06:39] mingyang0921 commented on #2901
@winlinvip This modification is relatively simple, but if the edge nodes are attacked, it may bring down the origin server. This contradicts the purpose of our original servers, doesn't it?

`TRANS_BY_GPT3`

[2022-10-20 08:53] sin-zx opened #3213 "API: RTMP push streaming url parameters are separated by '#', the parameter 'param' obtained from the HTTP callback is incomplete."
**Description (描述)**

1. SRS Version: [Release v5.0.63](https://github.com/ossrs/srs/releases/tag/v5.0.63)

1. SRS Log:

[code]

1. SRS Config:

[code]

**Replay:**

**> Please describe how to replay the bug? (重现Bug的步骤)**

**Translation:**

[code]
[code]
**Translation:**

[code]

**Translation:**

[code]

`TRANS_BY_GPT3`

[2022-10-21 03:52] zhangyong7887 opened #3214 "webrtc2rtmp 用ffmpeg 转发 rtmp推流时，报av_interleaved_write_frame(): End of fileB Error writing trailer of rtmps:"
**Description(描述)**
 我们想实现一个这样的小功能，在web端利用webrtc技术向SRS的webrtc 服务推流，然后再通过 ffmpeg 把 SRS的 rtmp 流 向 facebook的go live 上推送直播。但我们遇到一个问题，在用ffmpeg 转发推流时，报av_interleaved_write_frame(): End of fileB Error writing trailer of rtmps://live-api-s.facebook.com:443/rtmp/* 的错误， 想请各位大侠帮忙指导下，看是问题可能出现在那些地方，

我们执行的命令为：./ffmpeg -threads 2  -thread_queue_size 9512 -re -i "rtmp://xxx.xxx.xxx:1935/live/******" -max_muxing_

[2022-10-21 10:09] seven-cm opened #3215 "Callback: Failed when response string 0."
**Description (描述)**

1. SRS Version: `XCORE-SRS/5.0.78(Bee)` [link](https://github.com/ossrs/srs/commit/d9cf874033864bb38d9df5bbd589fd13974e4220)

1. SRS Log:

[code]

1. SRS Config:

[code]

**Replay (重现)**

1. Use docker to build the Dockerfile with the following content.
[code]

2. Open the http_hooks feature to reproduce it.

**Expect (Expected Behavior)**

1. http_hooks should work properly.

[2022-10-22 09:56] winlinvip opened #3216 "Support Google Address Sanitizer"
Support [Google Address Sanitizer](https://github.com/google/sanitizers), by [chen-guanghua](https://github.com/chen-guanghua).

## Address Sanitizer

Address Sanitizer (Asan) is a fast memory error detection tool. Detailed introduction can be found at [AddressSanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer). Starting from gcc 4.8, AddressSanitizer became a part of gcc. Howev

[2022-10-22 13:54] chen-guanghua commented on #3216
Address Sanitizer(Aasn)是一个快速的内存错误检测工具。在[AddressSanitizer](https://github.com/google/sanitizers/wiki/AddressSanitizer) 可以看到详细的介绍。

从gcc 4.8开始，AddressSanitizer成为gcc的一部分。当然，要获得更好的体验，最好使用4.9及以上版本，因为gcc 4.8的AddressSanitizer还不完善，最大的缺点是没有符号信息。

为了尽早发现内存错误问题，在SRS中增加使用 Aasn 检测内存错误功能。考虑到Aasn在不同的平台上

[2022-10-22 23:21] #3216 closed, assigned to chen-guanghua

[2022-10-25 05:23] SuperChrisliu commented on #2513
Has this problem been resolved now? Test it out. Webrtc only pushes audio, rtmp pulling is possible, but it takes about 7 seconds for rtmp to receive data.

`TRANS_BY_GPT3`

[2022-10-25 23:59] winlinvip opened #3218 "Log: Should follow Java/Go/FFmpeg/NGINX log level specs."
The log level of SRS 1.0 to 4.0:

[code]

The Java log4j specs, see [apache/logging-log4j2](https://github.com/apache/logging-log4j2/blob/release-2.x/log4j-api/src/main/java/org/apache/logging/log4j/Level.java#L29)

[code]

The Go log specs, see [golang/glog](https://github.com/golang/glog/blob/master/glog.go#L17) or [kubernetes/klog](https://github.com/kubernetes/klog/blob/main/klog.go#L17):

[co

[2022-10-26 00:14] winlinvip commented on #3209
Even if the breadcrumbs are hidden, attackers can still guess the path of your API. The secure practice is to authenticate the API. Please refer to the relevant WIKI for more information.

`TRANS_BY_GPT3`

[2022-10-26 00:14] #3209 closed, assigned to winlinvip

[2022-10-26 13:23] #3218 closed, assigned to winlinvip

[2022-10-26 13:34] winlinvip commented on #1864
There is a bug need to be fixed, see https://github.com/ossrs/srs/issues/299#issuecomment-954569380

[2022-10-28 05:22] luowei729 opened #3220 "srs4 SRT对 obs28新版本的编码器 NVIDIA NVENC H.264不兼容(28.1.1版本已解决)"
srs4 SRT对 obs28新版本的编码器 NVIDIA NVENC H.264不兼容，
推流不断断开连接
![image](https://user-images.githubusercontent.com/10611605/198509234-3c2f6b1d-da2e-4af7-81da-ad6e68fbbcca.png)

[2022-10-28 05:59] yong396040003 opened #3221 "K8s部署SRS4，webrtc推流失败？"
**Description(描述)**

1. SRS Version(版本): `4`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect(期望行为)**

[2022-10-28 06:15] qiantaossx opened #3222 "In the Alpine image, when compiling SRS with musl, the st-thread crashes."
**Description**

The crash occurs in the st_thread_create function.
memset(ptds, 0, ST_KEYS_MAX * sizeof(void *));

Below is the structure in setjmp.h that SRS depends on. Some adaptations were made during the compilation process.

[code]

Below is the structure in setjmp.h in Alpine.
[code]

1. SRS Version: `v4.0.198`

The above are the issues encountered during the process of using the Alpine im

[2022-10-28 14:21] xiaozhihong commented on #3072
https://github.com/ossrs/srs/pull/3223

supported.

[2022-10-31 00:53] #2899 closed

[2022-10-31 09:37] qiantaossx commented on #3222
Update it:

The dependency of srs is the st-thread coroutine library.

The following 2 lines of code in the skt.c file:
    mprotect(ts->vaddr, REDZONE, PROT_NONE);
    mprotect(ts->stk_top + extra, REDZONE, PROT_NONE);

This will cause the sched.c file to...
 memset(ptds, 0, ST_KEYS_MAX * sizeof(void *));
crash

The alpine code segment may have compatibility issues. Commenting out this memory pro

[2022-10-31 11:53] starise-wg opened #3225 "SRS集群是否支持webrtc拉流"
**SRS集群是否支持webrtc拉流**

1. SRS Version(版本): `4.0`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect()**

[2022-10-31 11:54] starise-wg opened #3226 "SRS集群是否支持webrtc拉流"
**SRS集群是否支持webrtc拉流**

1. SRS Version(版本): `4.0`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `xxxxxx`
1. `xxxxxx`
1. `xxxxxx`

**Expect()**

[2022-11-01 01:44] paranoia-12 opened #3227 "海康nvr推流，srs控制台有流但无法播放"
[**Description(描述)**]

NVR平台接入
![image](https://user-images.githubusercontent.com/103563056/199140481-542e2c25-6679-4cd1-88bf-77ece9ae28da.png)

控制台
![image](https://user-images.githubusercontent.com/103563056/199140218-d9e916c6-0dac-47ff-9be4-8d23e409963e.png)

播放界面
![image](https://user-images.githubusercontent.com/103563056/199140170-fc06a968-f636-4c70-a0fd-77ffa4e2b53c.png)

1. SRS Version(版本)

[2022-11-02 09:39] aiaa5505 opened #3228 "httpserver /api/v1/stream 只能获取10路正在推流的信息"
**Description(描述)**
本地开了 15路流推到srs http server ,但是通过/api/v1/stream 接口 始终只能获取10路流的信息

1. SRS Version(版本): `ossrs/srs:5.0.63` 镜像

1. SRS Log(日志):

[code]

1. SRS Config(配置):
[code]

**Replay(重现)**
必现

docker 的启动命令
sudo docker run --rm -itd --log-opt max-size=10m --log-opt max-file=3 --name=srs1 -p 1935:1935 -p 1985:1985 -p 8080:8080 \
-v ~/srs1.conf:/srs1.conf \
ossrs/srs:v5.0.63 ./objs/srs -c ./obj

[2022-11-02 10:02] #3228 closed

[2022-11-02 12:10] zk1173168848 opened #3229 "WebRTC: The fps of DVR file is incorrectly 1000. The frame rate of the recorded flv file from DVR is 1000."
![image](https://user-images.githubusercontent.com/49718621/199486193-3a135486-7be1-4cf5-8085-ce8019b6d6ba.png)
After streaming with WebRTC and converting to RTMP, we enabled DVR. However, upon finishing the recording, we noticed that the frame rate of the resulting FLV file is 1000, as shown in the above image.
![image](https://user-images.githubusercontent.com/49718621/199486373-93128f32-7556-42

[2022-11-03 02:51] winlinvip commented on #3222
Regarding the jmpbuf of ST, it is only related to the system+CPU architecture. This part of the code has already been modified in version 5.0, resolving this issue. Please avoid duplicating the work.

If you want to use Alpine, you can also compile the binary using Ubuntu or CentOS and then directly copy it to Alpine, instead of installing various tools and compiling SRS on Alpine. This can be ach

[2022-11-03 02:51] #3222 closed, assigned to winlinvip

[2022-11-03 10:10] DangWe opened #3230 "使用ffmpeg 5.1.1 rtmp 推视频流（h264 1920x1080，video 码率2500kbps），保以下错误 error code=1022"
description :
使用ffmpeg 5.1.1 rtmp 推视频流（h264 1920x1080，video 码率2500kbps），保以下错误 error code=1022：
![image](https://user-images.githubusercontent.com/25857782/199693745-4e73967f-2133-43ce-a36d-779bbe165e94.png)
使用obs推送同配置的视频流正常！！！

1. SRS Version(版本): 5.0
补充：怀疑是ffmpeg问题，参考如下https://xz.aliyun.com/t/55 ，但是修改并没有用

[2022-11-03 11:40] #3141 closed, assigned to winlinvip

[2022-11-04 06:38] zh19900725 opened #3231 "API: Failed to kickoff when authentication by on_play error. Some clients cannot be kicked off when on_play authentication fails."
**Description**

I am using SRS5 deployed on Tencent Cloud TKE. I have set up a public CLB for port mapping. When playing HLS streams, it triggers the on_play hook for authentication. If the authentication is successful, the clients work normally and the playback is smooth. However, if the authentication fails, a bunch of strange clients appear (4 additional clients for each failure), and kicking

[2022-11-05 02:59] #3220 closed

[2022-11-06 03:52] #3230 closed

[2022-11-07 07:30] xiaozhihong commented on #3072
@bigmisspanda SRT encryption has been supported already, you can try the latest code.

`TRANS_BY_GPT3`

[2022-11-07 10:44] yongxin2509 commented on #3215
Now the development version needs to return `{"code": 0, "data": null}`, I guess the documentation hasn't been updated yet.
https://github.com/ossrs/srs/blob/9c21e5a16279344bc0accd33c0220f9c26af32ab/trunk/src/app/srs_app_http_hooks.cpp#L650-L655

`TRANS_BY_GPT3`

[2022-11-10 07:07] tangenttechno opened #3233 "How to convert WebRTC to HLS/FLV etc"
As per the documentation, WebRTC is converted to RTMP, then to other formats like HLS/FLV/DASH. Is there any way to convert WebRTC to HLS/FLV/DASH without intermediate RTMP conversion?

[2022-11-10 07:46] qiyue-lyr opened #3234 "web端浏览器可播放webrtc，但在手机浏览器中不能播放"
**Description(描述)**

1. SRS Version(版本): `SRS/4.0.267(Leo)`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. `使用源码编译，按这里的步骤安装srs 4.0release`: https://ossrs.net/lts/zh-cn/docs/v4/doc/getting-started-build#webrtc-for-live-streaming
1. `使用ffmpeg推摄像头实时视频流到服务器`
1. `在web端访问 http://xxx.xx.xx.xx:8080/players/rtc_player.html?schema=http ,rtc播放器能播放的情况下，手机端浏览器访问同样地址，但无法播放。测试了android的c

[2022-11-10 09:49] mdzz0073 opened #3235 "srs拉流端显卡要求"
srs版本4.0.56，想问一下srs对客户端播放视频流是否有显卡要求，显卡要求参数是多少

[2022-11-11 08:03] ashione commented on #3154
Has this question been updated?

`TRANS_BY_GPT3`

[2022-11-13 14:51] joohnsow44 opened #3237 "how we can secure m3u8"
how we can secure m3u8 with srs media server.
anyone can access m3u8 link and can embed it into their own player.

please tell me how we can secure m3u8 , or disable direct access or only playable through reffer.

[2022-11-15 01:27] iamfaith opened #3238 "Asan: detected memory leaks, server can not startup"
**Description (描述)**

1. git clone -b develop https://gitee.com/ossrs/srs.git &&
cd srs/trunk && ./configure && make && ./objs/srs -c conf/srs.conf
2. Error message:
[code]

The server can not startup, and I use the default configuration.

**Expect (Expected Behavior)**

Should work as expected

`TRANS_BY_GPT3`

[2022-11-15 03:49] JakeWoki opened #3239 "请问怎么把推流记录保存下来"
类似nginx-rtmp-module的record配置

[2022-11-15 03:54] #3239 closed

[2022-11-15 06:20] Aniu-hub commented on #3228
同样的问题，请问一下您现在解决了吗

[2022-11-15 12:48] winlinvip commented on #299
参考：https://github.com/ossrs/srs/pull/3240

[2022-11-16 08:56] Lichu520 opened #3241 "Compile SRS source code, DJI M30 drone RTMP streaming, service code error causing server crash."
**The problems I encountered**

**1. The problem I encountered:**

According to the SRS official website documentation, I followed the steps to compile WebRTC for Live Streaming and successfully deployed the SRS live streaming service. I used the DJI M30 drone for RTMP streaming and conducted several tests. After reinstalling SRS multiple times on multiple servers, I noticed that a few seconds or

[2022-11-17 13:48] jeckee opened #3243 "macOS升级到13.0.1后，Safari 共享桌面无法推流"
**Description(描述)**

1、Chrome可以
2、macOS升级前（12.x.x），Safari webrtc可以共享桌面推流
3、已经使用https，ssl证书为正式证书

1. SRS Version(版本): `4`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**
选择共享桌面，调用publish接口

**Expect(期望行为)**

macOS 13 Safari webrtc共享桌面推流成功

[2022-11-18 03:37] johzzy commented on #3041
Fix details can be found at [https://github.com/ossrs/srs/issues/3041#issuecomment-1164636850](https://github.com/ossrs/srs/issues/3041#issuecomment-1164636850)

`TRANS_BY_GPT3`

[2022-11-18 06:57] JakeWoki opened #3244 "After configuring the HTTP callback, the streaming error 10053 occurred."
Configuration
[code]

Kotlin callback, response 0
[code]
Callback test response as follows:
[code]

FFmpeg streaming: ffmpeg.exe -re -i inputfile.flv -c copy -f flv -y rtmp://192.168.71.129:1935/live/livestream
Error:
[code]
May I know what this error is?

`TRANS_BY_GPT3`

[2022-11-18 07:16] zhao-l13 opened #3245 "FFmpeg: Failed to obtain bitrate in the transcode node"
**Description (描述)**

Set up two SRS nodes, where Node 1 forwards the stream to Node 2. Node 2 uses transcode to call ffmpeg for transcoding and slicing into HLS streams. If Node 2 crashes and restarts, it will fail to obtain the bitrate, resulting in the inability to generate the correct .mu8 files. This is because the video's bitrate information cannot be obtained, and the secondary .m3u8 (multi

[2022-11-18 07:43] JakeWoki commented on #3244
Okay, the callback is set to post, and the CSRF cross-domain interception is enabled.

`TRANS_BY_GPT3`

[2022-11-18 07:43] #3244 closed, assigned to winlinvip

[2022-11-18 11:17] winlinvip commented on #3245
This is an issue with FFmpeg. Generally, FFmpeg takes time to detect the stream bitrate. There should be some parameter settings for this. For more details, please refer to the FFmpeg documentation.

`TRANS_BY_GPT3`

[2022-11-18 11:17] #3245 closed, assigned to winlinvip

[2022-11-18 11:19] #3243 closed

[2022-11-18 11:20] winlinvip commented on #3241
The version is too low, please update the version and try again.

`TRANS_BY_GPT3`

[2022-11-18 11:21] winlinvip commented on #3238
What's the log?

[2022-11-18 11:21] winlinvip commented on #3238
What's the version?

[2022-11-18 12:48] winlinvip commented on #3238
It starts ok, in daemon mode, please read wiki https://ossrs.io/lts/en-us/docs/v5/doc/getting-started-build

Check SRS by http://localhost:8080/ or:

[code]

However, we must fix the confusing logs.

[2022-11-18 12:54] winlinvip commented on #3238
Also confusing logs when stopping SRS:

[code]

[2022-11-18 13:07] winlinvip commented on #3237
Please read doc https://ossrs.io/lts/en-us/docs/v5/doc/drm#token-authentication

[2022-11-18 13:07] #3237 closed

[2022-11-18 13:08] #3234 closed

[2022-11-18 13:09] #3233 closed

[2022-11-18 13:09] winlinvip commented on #3233
Not an issue.

[2022-11-18 13:12] winlinvip commented on #3231
Need to confirm.

[2022-11-18 13:13] winlinvip commented on #3229
Need to confirm.

[2022-11-18 13:15] winlinvip commented on #3227
请换成SRS 5.0。

[2022-11-18 13:15] #3227 closed

[2022-11-18 13:15] winlinvip commented on #3226
你的问题不符合Issue的要求，请按Issue模版提Bug，不提供**完整**信息的Issue会被直接删除。
该Issue会被删除，请先阅读FAQ：#2716

[2022-11-18 13:15] #3226 closed

[2022-11-18 13:16] winlinvip commented on #3221
请按文档操作。

[2022-11-18 13:16] #3221 closed

[2022-11-18 13:21] winlinvip commented on #3215
请阅读文档，响应是`0`或者`{"code": 0}`都可以，你是`E`不是`0`当然不行。

https://ossrs.net/lts/zh-cn/docs/v5/doc/http-callback#response

[2022-11-18 13:25] winlinvip commented on #3215
Test:

[code]

Return:

[code]

It is because the mechanism is no longer correct after the error code has been changed.

`TRANS_BY_GPT3`

[2022-11-18 13:29] #3215 closed, assigned to winlinvip

[2022-11-18 13:29] winlinvip commented on #3215
Fixed in v5.0.88 https://github.com/ossrs/srs/commit/07b31910209a51fc3656a3e913ff1be9f44941a2

[2022-11-18 13:42] winlinvip commented on #3238
It also returns none 0, which is error, we will fix this.

[code]

[2022-11-18 13:43] winlinvip commented on #3214
这个问题不是SRS问题，是FFmpeg、WebRTC、客户端、OBS、反向代理Nginx、流的内容、编译工具问题，该Issue会被删除。#2716

[2022-11-18 13:43] #3214 closed

[2022-11-18 13:45] winlinvip commented on #3211
This is not an SRS issue, but rather a problem with FFmpeg, WebRTC, client, OBS, reverse proxy Nginx, stream content, and compilation tools. This issue will be deleted. #2716

`TRANS_BY_GPT3`

[2022-11-18 13:45] #3211 closed, assigned to winlinvip

[2022-11-18 13:46] winlinvip commented on #3210
你的问题已经在Issues中存在，属于重复的问题，该Issue会被删除，请在Issues中搜索。#2716

找找Source释放相关的issue。

[2022-11-18 13:46] #3210 closed

[2022-11-18 13:47] winlinvip commented on #3208
咨询和讨论请来[视频号直播间](https://ossrs.net/lts/zh-cn/docs/v4/doc/contact)交流。也可以[加微信群](https://ossrs.net/lts/zh-cn/docs/v4/doc/contact)，在群里交流。
该Issue会被删除，请先阅读FAQ：#2716

[2022-11-18 14:42] Lichu520 commented on #3241
Hello, thank you for your reply. When you mentioned that the version is too low, are you referring to whose version? 1) For SRS version, I used "git clone -b 4.0release https://gitee.com/ossrs/srs.git" to pull it. 2) For the DJI demo version, I used the version from last month, and DJI source code has been updated with three new versions in November. Are you suggesting that I update the DJI projec

[2022-11-18 16:09] winlinvip commented on #2532
Already merged commit:

commit e9503a9c9a4055a52a114f857a44c8d041fb0c1c
Author: wenjie.zhao <740936897@qq.com>
Date:   Fri Nov 18 23:02:35 2022 +0800

    For #2532: Windows: Replace ln by cp for windows. v5.0.87 (#3246)

    1. Replase ln by cp for windows.
    2. Refine OS and CPU arch detecting.
    3. Support configure from any directory by `SRS_WORKDIR`.
    4. Support output to any directory

[2022-11-18 18:49] jackyyf commented on #174
Is it possible to reconsider this decision? Currently, a fragmented MP4 has been generated based on the method described in Comment#3.

[code]

[code]

Then I set up a local file server and created a very simple webpage.
```<video src="fmp4.mp4" controls="true" />```

After accessing, it can play normally.
![image](https://user-images.githubusercontent.com/2260355/202779214-adbaf36b-94b3-45d2-bb6c

[2022-11-19 16:46] dev-clavis opened #3249 "SRT: Config file does not enable srt for srt2rtc.conf"
**Description**

![image](https://user-images.githubusercontent.com/17059861/202861026-ecb0bfe8-6e81-4876-9c8f-315b34406920.png)

1. SRS Version: `v5.0.63`

1. SRS Log:

[code]

1. SRS Config:

**Replay:**

**> Please describe how to replay the bug? (重现Bug的步骤)**

(see description)

1. `git clone https://github.com/ossrs/srs`
1. `cd srs/trunk`
1. `git checkout tag/v5.0.63`
1. `./configure --srt=on

[2022-11-19 17:01] dev-clavis commented on #3249
https://github.com/ossrs/srs/issues/3104#issuecomment-1179802719

Just found and tested seems to work when added but don't know if a field like srt_to_rct exists.
When just using vhost>srt>enabled=on it works. Checked with http-flv viewer.
Therefore I suggest to change the default config - I just checked HEAD wasn't changed yet

[2022-11-20 03:29] winlinvip commented on #2532
Known issue: Crash if enable SRT, the stack is:

[code]

Build with SRT is ok, but it crashes while starting. Now we disable SRT by default as a workaround.

[2022-11-20 03:32] winlinvip opened #3251 "Cygwin: Build with SRT is ok, but crash when running."
Workaround: Now we disable SRT for cygwin by default as a workaround.

The stack is bellow

[code]

[2022-11-20 03:38] winlinvip opened #3252 "Cygwin: Support address sanitizer for windows."
Workaround: Disable by `--sanitizer=off` as a workaround.

[2022-11-20 03:40] winlinvip opened #3253 "Cygwin: ST stuck when working in multiple threads mode."
Workaround: Force to use single thread by `--single-thread=on` as a workaround.

We must use single thread for cygwin64, because there is a bug while publishing is timeout after about 25s and the RTMP receiving coroutine not working correctly. Need more time to finger out why, so we just use single thread as workaround.

[2022-11-20 04:05] winlinvip opened #3254 "Cygwin: Build srtp with openssl fail for no srtp_aes_icm_ctx_t"
Workaround: Disable openssl for srtp by `--srtp-nasm=off`

Please note that only the pipeline of github actions has this issue.

It fails with:

[code]

This is because the `crypto/include/config.h` should be updated:

[code]

`TRANS_BY_GPT3`

[2022-11-20 04:44] winlinvip commented on #3254
Fixed by patch of SRTP with openssl:

[code]

Please note that only the pipeline of github actions has this issue.

[2022-11-20 04:46] #3254 closed, assigned to winlinvip

[2022-11-20 04:53] winlinvip opened #3256 "Windows: Support iocp and windows native build."
For SRS 5.0.89, use select as event driven framework. We plan to support iocp for ST.

[2022-11-21 04:52] winlinvip commented on #3249
Yep, the config `conf/srt2rtc.conf` is incorrect. Thank you for your feedback and PR.

[2022-11-21 05:36] #3249 closed, assigned to winlinvip

[2022-11-21 08:10] online2311 opened #3261 "SRS/5.0.89 GB28181 Pulling stream Webrtc cannot play, Flv videos can be played normally."
**Description (描述)**

Make sure to maintain the markdown structure.

1. SRS Version (版本): `SRS/5.0.89`
Make sure to maintain the markdown structure.

1. SRS Log (日志):
Make sure to maintain the markdown structure.

[code]
1. SRS Config (配置):
Make sure to maintain the markdown structure.
[code]

**Replay (重现)**
Make sure to maintain the markdown structure.

Make sure to maintain the markdown structu

[2022-11-21 08:14] online2311 commented on #3261
Chrome Console Log
[code]

`TRANS_BY_GPT3`

[2022-11-21 08:20] Lichu520 commented on #3241
1. The SRS project currently has 8 branches.
2. According to the code commit history, the latest branch is develop, which is updating the functionality of SRS 5.0. The next branch is 4.0release, which was last committed last month.
3. I am using: git clone -b 4.0release.
4. Are you asking me to fetch the code from the develop branch?
@winlinvip

`TRANS_BY_GPT3`

[2022-11-21 08:39] Lichu520 commented on #3241
1. Linux Centos7
2. git clone -b develop https://gitee.com/ossrs/srs.git
3. cd srs/trunk/
4. ./configure, everything is normal until step 4.
5. make, error occurred.

Below is the error message from the console:
[code]

@winlinvip

`TRANS_BY_GPT3`

[2022-11-21 13:03] winlinvip commented on #3041
Reproduce the path: '
Make sure to maintain the markdown structure.

1. Use Firefox to push WebRTC stream.
2. Use Firefox to play WebRTC stream.
3. Stop pushing stream with Firefox.
4. Use FFmpeg to push RTMP stream.
5. Firefox has no sound and no video.

This seems to be a specific difference with Firefox, Chrome has no issues.

`TRANS_BY_GPT3`

[2022-11-21 14:01] #3041 closed

[2022-11-22 00:37] winlinvip commented on #3261
Can vhost be removed?

`TRANS_BY_GPT3`

[2022-11-22 02:40] winlinvip commented on #3241
Please upgrade to 5.0.92 and give it a try.

`TRANS_BY_GPT3`

[2022-11-22 04:35] winlinvip commented on #3238
Fixed in 5.0.91

[2022-11-22 04:35] #3238 closed, assigned to chen-guanghua

[2022-11-22 06:09] winlinvip commented on #465
Plan to support HEVC in SRS 6.0

[2022-11-22 07:18] online2311 commented on #3261
At first, it didn't work without adding a vhost, so I added the relevant information about the vhost. Flv playback is normal, and the source video is in rtsp h264/acc format. Since no obvious error was seen, it is unknown what the reason is.

`TRANS_BY_GPT3`

[2022-11-22 07:21] heaip opened #3267 "How to enable hardware acceleration in FFMPEG during transcoding?"
In the transcode configuration, the video encoder of ffmpeg is restricted to libx264, and hardware acceleration of the graphics card is not enabled during transcoding. When set to h264_nvenc, an error occurs. I'm not sure about the reason for this limitation, so please share if you have any insights. Also, please provide guidance if there is a way to enable hardware acceleration for external FMPEG

[2022-11-22 14:12] winlinvip opened #3271 "HEVC: The codec information is incorrect."
**Description**

For HEVC, the stream description is incorrect.

1. SRS Version: `6.0.2`

1. SRS Log:

[code]

1. SRS Config: `conf/hevc.flv.conf`

**Replay**:

1. `./objs/srs -c conf/hevc.flv.conf`
1. `./ffmpeg -re -i ~/srs/doc/source.flv -acodec copy -vcodec libx265 -f flv rtmp://localhost/live/livestream`
1. Check log of SRS.

**Expect (Expected behavior)**

Should show correct metadata about s

[2022-11-23 00:32] online2311 commented on #3261
Do you still need me to provide other relevant information?

`TRANS_BY_GPT3`

[2022-11-23 03:38] gotliuyan commented on #3241
[code]

I also encountered the same problem and couldn't solve it.

`TRANS_BY_GPT3`

[2022-11-23 03:51] Lichu520 commented on #3241
`TRANS_BY_GPT3`

[2022-11-23 05:39] gotliuyan commented on #3241
Mine is version v4.0.149, it has been working fine before. It is also a drone. When streaming, it reported this error. I switched to a version v4, but now I don't have a drone at hand to test it. Let's see how the version 5.0.92 performs in your afternoon testing.

`TRANS_BY_GPT3`

[2022-11-23 07:55] gotliuyan commented on #3241
@Lichu520 How is the situation?

`TRANS_BY_GPT3`

[2022-11-23 08:24] Lichu520 commented on #3241
1. Problems encountered
   1) Usage: git clone -b 5.0release https://github.com/ossrs/srs.git
   2) Executing the following commands normally: cd srs/trunk ./configure make
   3) Starting SRS: ./objs/srs -c conf/rtmp2rtc.conf
   4) Starting DJI Onboard SDK API project, testing twice, the streaming does not exceed 10 seconds, console error reported (see Part 3), consistent results for both tests.

[2022-11-23 09:06] gotliuyan commented on #3241
@Lichu520 No, it's just a simple application, with the recordings stored remotely.

`TRANS_BY_GPT3`

[2022-11-23 09:45] Lichu520 commented on #3241
`TRANS_BY_GPT3`

[2022-11-24 01:34] winlinvip commented on #2091
Update: I think we should support [proxy](https://github.com/ossrs/srs/issues/3138) for origin servers, which is much more useful than WebRTC cascading. Proxy is designed for origin server and all protocols, so we can use proxy to build RTMP/FLV cluster, or SRT cluster, or WebRTC cluster, or GB28181 cluster.

[2022-11-24 07:51] not2007 commented on #3138
请问一下目前有哪些代理方案可以研究一下，拿来修改吗

[2022-11-24 10:31] winlinvip commented on #1864
Fixed in v5.0.96 see https://github.com/ossrs/srs/pull/3240

[2022-11-24 10:32] winlinvip commented on #1545
Fixed in 5.0.96, see https://github.com/ossrs/srs/pull/3240

[2022-11-24 10:32] #1545 closed

[2022-11-24 10:33] winlinvip commented on #1993
Fixed in v5.0.96, see https://github.com/ossrs/srs/pull/3240

[2022-11-24 10:33] #1993 closed

[2022-11-24 12:52] xiaozhihong commented on #299
Give a simple explanation of some key points about DASH, mainly the daunting mpd file with numerous fields and combinations.

One major feature of the DASH protocol is mapping the time slices of audio and video to UTC time, allowing for real-time streaming and the selection of appropriate segments for playback.

## The commonly used descriptions for segmentation in DASH mpd are as follows (excludi

[2022-11-24 13:13] xiaozhihong commented on #299
SRS selects SegmentTemplate with SegmentTimeline and uses `$Number` as the URL substitution symbol, mainly considering the compatibility issues of current mainstream players.

`TRANS_BY_GPT3`

[2022-11-25 02:57] qiantaossx opened #3280 "webrtc 中的缓存问题"
想讨论下，rtmp 推流，webrtc 播放的场景中，在 SRS 中通过加上 gop 的缓存，来提高 播放器的起播速度（我们的场景可以接受一定程度的快进或者跳秒，代替黑屏）
想请教一下对 webrtc 的播放器来说，是否会有兼容问题，是否合适

[2022-11-25 03:32] shenleilei commented on #3207
I also encountered the same problem. I set breakpoints along the way to check, and it seems that the SPS PPS packets were not received. There is one part that I didn't understand, can't the SPS PPS packets be sent separately? According to the author's logic, it is necessary to include the SPS PPS packets in the aggregate packet for initialization.

`TRANS_BY_GPT3`

[2022-11-25 05:19] winlinvip commented on #299
Fixed in v5.0.96

[2022-11-25 05:19] #299 closed

[2022-11-25 05:46] not2007 commented on #459
Can 'dvr_apply' support wildcards, for example, 'record/*'?
vhost dvr.srs.com {
    dvr {
        # the filter for dvr to aplly to.
        #       all, dvr all streams of all apps.
        #       <app>/<stream>, apply to specified stream of app.
        # for example, to dvr the following two streams:
        #       live/stream1 live/stream2
        # default: all
        dvr_apply    record/*;

[2022-11-26 01:11] winlinvip commented on #3241
@Lichu520 Since it is a binary compiled by yourself, you need to obtain the symbol table, so please upload the srs binary file.

Alternatively, please execute the following command to obtain the stack trace:

[code]

Please kindly send me a message on WeChat for further verification. You can refer to [here](https://ossrs.net/lts/zh-cn/contact) for adding me on WeChat.

`TRANS_BY_GPT3`

[2022-11-26 01:15] winlinvip commented on #3138
更新进展：Proxy本质上是一个负载均衡问题，[eBPF](https://ebpf.io/) 比较合适实现。

另外，用 [libbpf](https://github.com/libbpf/libbpf) C++比较合适，而不是[cilium/ebpf](https://github.com/cilium/ebpf) Go，两个差异挺大。

[2022-11-26 01:16] winlinvip commented on #3207
The version is too old, try the latest 5.0.98.

`TRANS_BY_GPT3`

[2022-11-26 04:28] xiangzi1 commented on #3207
Still reporting the same error: log as follows

[code]

`TRANS_BY_GPT3`

[2022-11-26 04:40] xiangzi1 commented on #3267
You need to recompile the external ffmpeg yourself to support hardware GPU encoding and decoding acceleration. This is not something that SRS should be responsible for, right?

`TRANS_BY_GPT3`

[2022-11-26 09:43] bandirsen opened #3283 "srt port 10080/udp not opened"
**Description(描述)**

1. SRS Version(版本): `5.0.98`

1. SRS Log(日志):

[code]

1. SRS Config(配置):

[code]

**Replay(重现)**

1. running srs docker with docker compose configuration :
[code]
2. trying to publish via srt with ffmpeg  (publish via rtmp no problem)
[code]
but resulting error
[code]
3. trying to to check opened udp port on srs server with netcat (port 8000 and 10080)
[code]

**Expect(期望行为)*

[2022-11-27 06:09] bandirsen commented on #3283
Apparently I made mistake, I put wrong configuration file name.
I will close this issue.

[2022-11-27 06:09] #3283 closed

[2022-11-28 08:44] nonobject14514 opened #3285 "webrtc playback issues on web pages"
**Description (描述)**

Make sure to maintain the markdown structure.

1. SRS Version (版本): `xxxxxx`
Make sure to maintain the markdown structure.
SRS/5.0.89
1. SRS Log (日志):
Make sure to maintain the markdown structure.

[code]

1. SRS Config (配置):
Make sure to maintain the markdown structure.

[code]

**Replay (重现)**
Make sure to maintain the markdown structure.

Make sure to maintain the markdown

[2022-11-29 05:32] abigailcg opened #3288 "GB28181: 5.0-a0 version TCP transmission has a delay of 3 seconds more than srs-gb28181 UDP transmission."
1. SRS Version: 5.0-a0

2. SRS Log: None, can transmit normally, just the delay is too long.

3. SRS Config:
gb28181.conf
System environment: CentOS 7
4. Operation Steps
a. Use the dev version of srs-gb28181, with the configuration file push.gb28181.conf. Then configure the access to the Hikvision camera on the 28181 platform, using UDP as the transmission protocol and GB/T28181-2016 as the protoc

[2022-11-29 05:41] abigailcg commented on #3285
0.0.0.0 配置成公网IP

[2022-11-29 05:52] abigailcg commented on #3285
Translate to English:
'candidate is configured as a public IP
1. If the rtc video is embedded in another webpage, and that webpage is using https, your webrtc service also needs to have a certificate.
2. If it is a video playback test page using IP+port, then rtc cannot use the domain name method, and instead use the webrtc://public IP/xxx method for playback.

`TRANS_BY_GPT3`

[2022-11-29 05:55] abigailcg commented on #3261
rtmp_to_rtc on;
 rtc_to_rtmp on;

[2022-11-29 09:02] nonobject14514 commented on #3285
The issue has been resolved by adding HTTPS to the API server, thank you.

`TRANS_BY_GPT3`

[2022-11-29 09:02] #3285 closed, assigned to winlinvip

[2022-11-29 14:02] winlinvip commented on #3288
5.0-a0 supports GB streaming and WebRTC viewing. The latency will be relatively low, you can test how many seconds it is.

PS: On the public network, UDP transmission of srs-gb28181 is unreliable (no packet retransmission or FEC), so it cannot be used online, even if the latency is lower.

`TRANS_BY_GPT3`

[2022-11-29 14:05] winlinvip commented on #3280
WebRTC有个播放缓冲区设置，详细可以参考WebRTC文档哈。

这个问题不是SRS问题，是FFmpeg、WebRTC、客户端、OBS、反向代理Nginx、流的内容、编译工具问题，该Issue会被删除。#2716

[2022-11-29 14:05] #3280 closed

[2022-11-30 00:56] abigailcg commented on #3288
For WebRTC viewing, the TCP delay is 4 seconds, while the original version's UDP delay is 1 second.

`TRANS_BY_GPT3`

[2022-11-30 02:55] gotliuyan commented on #3241
The official Docker image also has the same problem.
Drone model:

<img width="300" src="https://user-images.githubusercontent.com/2777660/204706723-e5c7ff39-5c58-4921-a438-501a745bd343.png">

`TRANS_BY_GPT3`

[2022-11-30 04:20] winlinvip commented on #3241
As I don't have a drone device, I am unable to reproduce the issue everyone is talking about. Please provide the binary or stack information when the crash occurs.

`TRANS_BY_GPT3`

[2022-11-30 04:23] winlinvip commented on #3207
感谢反馈，请 @xiaozhihong 大神有空看看。

[2022-11-30 04:26] winlinvip commented on #3267
+1

`TRANS_BY_GPT3`

[2022-11-30 04:26] #3267 closed, assigned to winlinvip

[2022-11-30 04:35] winlinvip commented on #3207
I see that your offer includes audio and video:

[code]

And I see that your offer is for Janus forwarded streams? Can we try if Chrome without audio works fine?

`TRANS_BY_GPT3`

[2022-11-30 10:07] xiangzi1 commented on #3207
It is a stream forwarded by Janus, and then I removed the offer of the audio stream to push the stream, but the negotiation directly resulted in an error.
![image](https://user-images.githubusercontent.com/15832801/204767708-85a2c009-2f11-4f0c-98bb-d0f7d7d74beb.png)
Then I tried to push the stream without audio using Chrome, but the interface reported an error and did not allow it:

![Image](https